<form action="#">
  <script>$("form").validate();</script>
  <fieldset *ngIf="!isConfirm">
<legend>Sign Up</legend>
<div class="row justify-content-center my-5">
  <div >
    <div>
      <div  *ngIf="!isConfirm">
        <div >
          <div >
            <label for="email" class="vhide">Email:</label>
            <input placeholder="Email" type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email">
          </div>
        </div>
        <br>
        <div>
          <div>
            <label for="password" class="vhide">Password:</label>
            <div>
              <input placeholder="Password" [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password">
              <br>
              <button type="button" class="cm-standard-button" (click)="user.showPassword = !user.showPassword">
                <i class="bi" [ngClass]="{'bi-eye-fill': !user.showPassword, 'bi-eye-slash-fill': user.showPassword}">See Password</i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-grid">
            <button type="button" (click)="signUp()" class="signin" [disabled]="loading">
              <span role="status" aria-hidden="true" *ngIf="loading"></span>
              Sign up
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="isConfirm">
        <div>
          <div>
            <label for="code" class="vhide">Code:</label>
            <input type="text" id="code" name="code" #code="ngModel" [(ngModel)]="user.code">
          </div>
        </div>
        <div >
          <div >
            <button type="button" (click)="confirmSignUp()" class="signin" [disabled]="loading">
              <span role="status" aria-hidden="true" *ngIf="loading"></span>
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

