@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

.page-content {
    height:100%;
    overflow-y: auto;
  }

/* Clickable File Div Table */
.fileTable{
  width: 100%;
  height: 100%;
}
.clickableFile{
  padding-top:5px;
  padding-bottom:5px;
}
.clickableFile div{
  border-color:#000000;
  border-width: 2px;
  border-bottom: solid;
  background-color:#e0d4d1;
  padding: 10px;
  color:#000000;
}
.titleCol{
  width: 50%;
  height: auto;
  padding-left: 10px;
  float: left;
  overflow: hidden;
}
.notesCol{
  float: left;
  height: auto;
  width: 50%;
  overflow: hidden;
}
.selected div{
  background-color: #dc8671;
}

/* Buttons for opening popups */
.actions{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 2em;
  grid-column-gap: 1em;
}

/* Start Label Detection Popup */
.new-label-detection-popup{
  height: 85%;
  width: 70%;
}
.new-label-detection-content{
  align-items: center;
}

.view-label-detection-popup{
  height: 60%;
  width: 80%;
}

.fileCol{
  width: 60%;
  height: auto;
  padding-left: 10px;
  float: left;
  overflow: hidden;
}
.tagsCol{
  float: left;
  height: auto;
  width: 40%;
  overflow: hidden;
}