<!--
<div class="row justify-content-center my-5">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col mb-2">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control form-control-sm">
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="password" class="form-label">Password:</label>
            <div class="input-group input-group-sm">
              <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control form-control-sm">
              <button type="button" class="btn btn-outline-secondary" (click)="user.showPassword = !user.showPassword">
                <i class="bi" [ngClass]="{'bi-eye-fill': !user.showPassword, 'bi-eye-slash-fill': user.showPassword}"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-grid">
            <button type="button" (click)="signIn()" class="cm-standard-button" [disabled]="loading">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
              Sign in
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<script>$("form").validate();</script>
<form action="#">

  <fieldset>

    <legend>Sign In</legend>
    <label for="email" class="vhide">Email:</label>
    <input placeholder="Email" id="email" name="email" type="email" #email="ngModel" required minlength="2" [(ngModel)]="user.email">
    <br>
    <label for="password" class="vhide">Password</label>
    <input placeholder="Password" [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" required minlength="6">

    <input type="checkbox" name="remember" id="remember" class="vhide">
    <label for="remember">
      <i class="octicon octicon-check"></i> Remember all the things
    </label>

    <button type="button" (click)="signIn()" class="signin" [disabled]="loading">
    <span role="status" aria-hidden="true" *ngIf="loading"></span>
    Sign in</button>

  </fieldset>

</form>
