<body>
	<section>
		<div class="container">
    <!-- 
			<div class="card">
				<div class="content">
						<h3>Choose File</h3>
            <p *ngIf="getFileInfo()"><b>File ID</b>{{ getFileInfo()[0].s3_name }}</p>
            <p *ngIf="getFileInfo()"><b><h4>File Name: </h4> </b>{{ getFileInfo()[0].title }}</p>
            <br>
            <h3>Case Info</h3>
            <span *ngIf="getCaseInfo()" {{ getCaseInfo()[0].name }}>Case Name:</span>
            <br>
            <p *ngIf="getCaseInfo()"><b><h4>Case Description:</h4> </b>{{ getCaseInfo()[0].description }}</p>
            <p *ngIf="getCaseInfo()"><b><h4>Case Tags:</h4> </b>{{ getCaseInfo()[0].tags }}</p>
            <p *ngIf="getCaseInfo()"><b><h4>Case Notes:</h4> </b>{{ getCaseInfo()[0].notes }}</p>
				</div>
			</div>
    -->
      <div class="card">
				<div class="content">
					<div class="contentBx">
						<h3>Choose File</h3>
            <div>
                <select class="custom-select" [(ngModel)]="selectedFile">
                  <option *ngFor="let file of getFiles()" [ngValue]="file.storageServiceFileName">{{ file.title }}</option>
                </select>
            </div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="content">
					<div class="contentBx">
						<h3>Add Tags</h3>
            <!--<div class="ng-autocomplete">
              <ng-autocomplete 
                [data]="thedata"
                [searchKeyword]="keyword"
                placeholder="Select country"
                (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
              </ng-autocomplete>
              
              <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
              </ng-template>
              
              <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
              </ng-template>
              </div> -->
            <div><b><u>Note:</u></b> make sure to <b>type with capital letter</b> and <b>one at a time</b> (e.g. 'Person')</div>
          <br>
            <div><b><u>Suggestion:</u></b> Try some of these: Person, Gun, Plant, Fish, Horse</div>
          <br>
            <div>
              <ng-autocomplete 
              [data]="labelArray"
              [searchKeyword]="keyword"
              placeholder="Select Label"
              (selected)='selectEvent($event)'
              (inputChanged)='onChangeSearch($event)'
              (inputFocused)='onFocused($event)'
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
              #labelField >                                 
            </ng-autocomplete>
            
            <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.label"></a>
            </ng-template>
            
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
            </div>

                

            </div>
					</div>
				</div>

			<div class="card">
				<div class="content">
					<div class="contentBx">
						<h3>Verify and Submit</h3>
            <div>Note: After clicking submit, return go back in the top left corner to see the label detection job</div>
            <br>
                <div><b><u>Selected Labels:</u></b></div>
                <div id="labelsList"></div>
            </div>
            <br>
            <button style="--clr:#8A2BE2" type="button" (click)="sendJobCreationRequest()" [disabled]="getLabels().length==0"><span>Submit</span><i></i></button>
        </div>
			</div>

		</div>
	</section>
</body>