
.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content:flex-start;
	align-items: center;
	flex-wrap: wrap;
  float: left;
}

.container .card {
	position: relative;
	width: 30%;
	height: calc(100% + 500px);
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(50px);
}

.card {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #000000;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container .card .content .contentBx h3 {
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 600;
	text-transform: initial;
}

.custom-select {
  display: block;
  width: 100%;
  height: calc(2.75rem + 2px);
  padding: .375rem .75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  appearance: none; /* remove default arrow on Firefox */
  -moz-appearance: none; /* remove default arrow on Firefox */
  -webkit-appearance: none; /* remove default arrow on Chrome, Safari, and Edge */
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'><path d='M8 12.293L2.854 7.146a.5.5 0 01.708-.708L8 10.586l4.438-4.438a.5.5 0 01.708.708L8 12.293z'/></svg>");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: right 0 center; /* increase right value to move arrow further away */
}

.custom-select::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid #999;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  padding-left: 0.5em;
}

.custom-select:hover, .custom-select:focus {
  outline: none;
  border-color: #555;
}

.custom-select:hover::after, .custom-select:focus::after {
  border-top-color: #555;
}

.custom-select::placeholder {
  color: #aaa;
}

.custom-select:not(.placeholder-selected):after {
  content: '\f077';
}

.custom-select:not(.placeholder-selected) {
  padding-left: 20px;
}
