<div class="page-content">
    <a [routerLink]="['/detailed-case-view/1']"><- Back to Case</a>
    <h1>NEW LABEL DETECTION</h1>

    <!-- Card 1: Case Information -->
    <div class="card">
        <div class="card-head">Info</div>
        <div class="card-body">
            <div><b>File ID:</b></div>
            <div><b>Case Name:</b></div>
            <div><b>Case Description:</b></div>
            <div><b>Case Tags:</b></div>
            <div><b>Case Notes:</b></div>
        </div>
    </div>
    <div class="card">
        <div class="card-head">Inputs</div>
        <div class="card-body">
            <div><b>Tags to Search For:</b> PUT INPUT BOX HERE THEN SUBMIT BUTTON</div>
            <div>LIST OF TAGS HERE WITH X's TO REMOVE THEM</div>
        </div>
        <button>SUBMIT</button>
    </div>
</div>