
.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content:flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.container .card {
	position: relative;
	width: 500px;
	height: 600px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(50px);
}

.card {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #000000;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(3);
    transform-origin: 500% 500%;
    transition: transform 1s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .contentBx h3 {
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 600;
	text-transform: initial;
}

button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
  animation: box 3s infinite;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #ffffff;
}

button span {
  position: relative;
  z-index: 1;
}
button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

.custom-select {
  display: block;
  width: 100%;
  height: calc(2.75rem + 2px);
  padding: .375rem .75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  appearance: none; /* remove default arrow on Firefox */
  -moz-appearance: none; /* remove default arrow on Firefox */
  -webkit-appearance: none; /* remove default arrow on Chrome, Safari, and Edge */
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'><path d='M8 12.293L2.854 7.146a.5.5 0 01.708-.708L8 10.586l4.438-4.438a.5.5 0 01.708.708L8 12.293z'/></svg>");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: right 0 center; /* increase right value to move arrow further away */
}

.custom-select::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid #999;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  padding-left: 0.5em;
}

.custom-select:hover, .custom-select:focus {
  outline: none;
  border-color: #555;
}

.custom-select:hover::after, .custom-select:focus::after {
  border-top-color: #555;
}

.custom-select::placeholder {
  color: #aaa;
}

.custom-select:not(.placeholder-selected):after {
  content: '\f077';
}

.custom-select:not(.placeholder-selected) {
  padding-left: 20px;
}
