<!-- Basic Page info/headers -->
<h1>LABEL DETECTION OUTPUT</h1>
<p *ngIf="this.getLabels()">Found <b>{{this.getLabelTotal()}}</b> Labels Over <b>{{this.getLabels().length}}</b> Timestamps</p>
<!-- Video Player and Label Selector Box -->
<div class="page-content">
    <!-- Basic Page info/headers -->
    <div class="floatstyle">
        <div class="fixedBox1">
            <h1>LABEL DETECTION OUTPUT</h1>
            <p><b>Case ID:</b> {{this.getCaseId()}}</p>
            <p><b>Keywords:</b> {{this.getKeywords()}}</p>
            <!--  <p><b>Case Name:</b></p>  -->
            <p class = "label-count" *ngIf="this.getLabels()">Found <b>{{this.getLabelTotal()}}</b> Labels Over <b>{{this.getLabels().length}}</b> Timestamps</p>
        </div>
    </div>
    <div class="cm-table scrollbox">
        <div class="cm-table-header">
            <div class="nameCol"><b>Label</b></div>
            <div class="timeCol"><b>Time</b></div>
            <div class="confidenceCol"><b>Confidence</b></div>
        </div>
        <div class="scrollbox">

            <div>
                <div (click)="this.setSortMethod(this.labelSortTypes[0])" > By File </div>
                <div (click)="this.setSortMethod(this.labelSortTypes[1])" > By Keyword </div>
            </div>
            
            <div *ngIf="this.getSortMethod() === this.labelSortTypes[0]">
                <div *ngFor="let fileSegment of this.getLabelsByFile()">
                    <div class="clickableLabel" [class.selected]="fileSegment === currentFile" (click)="setCurrentFile(fileSegment.file_id)"> {{fileSegment.file_id}} </div>
                    
                    <div *ngFor="let label of fileSegment.labels.Labels" >
                        <div class="clickableLabel" *ngIf="this.checkAgainstCurrentFile(fileSegment.file_id)" (click)="this.selectLabelDetection(label,fileSegment.file_id,label.Timestamp,label.Label.Instances)"> {{label.Label.Name}}, {{this.prettifyTimestamp(label.Timestamp)}}, {{this.prettifyConfidence(label.Label.Confidence)}} </div>
                    </div>
                    
                </div>
            </div>

            <div *ngIf="this.getSortMethod() === this.labelSortTypes[1]">
                <div *ngFor="let keyword of this.getKeywords()">
                    <div class="clickableLabel" [class.selected]="keyword === currentKeyword" (click)="setCurrentKeyword(keyword)"> {{keyword}} </div>
                    
                    <div *ngFor="let label of this.scanLabelsForKeyword(keyword)" >
                        <div class="clickableLabel" [class.selected]="label === this.selectedLabel" *ngIf="this.checkAgainstCurrentKeyword(keyword)" (click)="this.selectLabelDetection(label.label,label.file_id,label.label.Timestamp,label.label.Label.Instances)"> {{label.file_id}}, {{this.prettifyTimestamp(label.label.Timestamp)}}, {{this.prettifyConfidence(label.label.Label.Confidence)}} </div>
                    </div>
                    
                </div>
            </div>
            
            <!--<div *ngFor="let label of this.getLabels()">
                <div class = "clickableLabel" [class.selected]="label === selectedLabel" 
                (click)="onSelectLabel(label)" (dblclick)="onDoubleClickLabel(label)">
                    <div class="nameCol">{{label.Name}}</div>
                    <div class="timeCol">{{prettifyTimestamp(label.Timestamp)}}</div>
                    <div class="confidenceCol">{{prettifyConfidence(label.Confidence)}}</div>
                </div>
            </div> -->


        </div>
    </div>
</div>