
<div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
  <label for="tab1">New Case</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
  <label for="tab2">Upload Files</label>

  <div class="tab-panels">
    <section id="marzen" class="tab-panel">
      <div class="card">
        <div class="card-head">New Case</div>
        <div class="card-body">
          <div class="inputBox">
            <form></form>
            <h2>New Case Information</h2>
            <!--
            <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
              <input type = "text" name = "emailid" placeholder = "emailid" ngModel>
              <br/>
              <input type = "password" name = "passwd" placeholder = "passwd" ngModel>
              <br/>
              <input type = "submit" value = "submit">
           </form>
           -->
            <form #createCase = "ngForm" (ngSubmit) = "submitCase(createCase.value)">
              <label>Name</label>
              <input type="text" name="name" required ngModel>
              <label>Date</label>
              <input  type="text" name="date" required ngModel>
              <label>Date of Case</label>
              <input  type="text" name="dateofcase" required ngModel>
              <label>Location</label>
              <input type="text" name="location" required ngModel>
              <label>Important Labels</label>
              <input type="text" name="name" required ngModel>
              <label>Description</label>
              <input type="text" name="description" required ngModel>
              <br>
              <input type = "submit" value = "submit">
            </form>
          </div>
          <br>
        </div>
      </div>
    </section>


    <section id="dunkles" class="tab-panel">
      <div class="card">
      <h1 class="card-head" >Upload File</h1>
        <div class="card-body">
          <label class="btn btn-default p-0">
            <input type="file" (change)="selectFile($event)" />
          </label>
          <button class="button" [disabled]="!selectedFiles" (click)="upload()"> Upload </button>
        </div>
      </div>

      <div *ngIf="currentFile" class="progress-bar">
        <div
          class="progress-bar"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>

      <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

      <div class="card">
        <div class="card-head">List of Files</div>
        <div class="card-body">
        <ul
          class="list-group list-group-flush"
          *ngFor="let file of fileInfos | async"
        >
          <li class="list-group-item">
            <a href="http://localhost:8000/download/{{file.Key}}" >{{ file.Key }}</a>
          </li>
        </ul>
      </div>
