.page-content {
  height:100%;
  overflow-y: auto;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* cm-popup create case */
.createCasePopupButton{
  float: right;
  margin-right: 20px;
}
.createCaseSubmitButton{
  position: relative;
}

.deleteCaseButton {
 float: right;
 margin-right: 20px;
}

.selectCol {
 float: right;
}

/* cm-table table columns */
.iconCol{
  width: 5%;
  padding-left: 10px;
}
.nameCol{
  width: 35%;
}
.tagsCol{
  width: 20%;
}
.descriptionCol{
  width: 40%;
  padding-right: 10px;
}