

// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

$breakpoint-alpha: 480px; // adjust to your needs

.page-content {
  height:100%;
  overflow-y: auto;
}
.content{
  height:auto;
  width:auto;
  border: solid;
  border-color:rgb(0, 0, 0);
  border-width: 2px;
}
.form-group{
  overflow: hidden;
}
.rwd-table {
  margin: 1em 0;
  min-width: 300px; // adjust to your needs
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
  }
  td {
    display: block;
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }
    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;
      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  th, td {
    text-align: left;
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
// presentational styling
@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: rgb(173, 168, 168);
  background: #eee;
}
h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;

}
.rwd-table {
  background: #95b0cb;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  tr {
    border-color: lighten(#000000, 50%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) {
      padding: 1em !important;
    }
  }
  th, td:before {
    color: rgb(0, 0, 0);
  }
}
///for popup window
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color:rgba(255, 255, 255, 0.495);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
///for popup window
.content {
  background-color: #fff;
  width: 600px;
  height: 600px;
  padding: 20px;
}
///for popup window
.wrapper {
  width: 20%;
  height: 2vh;
}
///for popup window
.close{
  position: relative;
  top: -10px;
  cursor: pointer;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

.cm-standard-button{
  float:right;
}

/* Div table of clickable cases */
.caseTable{
  width: 100%;
  height: 100%;
}
.clickableCase{
  padding-top:5px;
  padding-bottom:5px;
}
.clickableCase div{
  border-color:#000000;
  border-width: 2px;
  border-bottom: solid;
  background-color:#e0d4d1;
  padding: 10px;
  color:#000000;
}
.nameCol{
  width: 33%;
  height: auto;
  padding-left: 10px;
  float: left;
  overflow: hidden;
}
.tagsCol{
  float: left;
  height: auto;
  width: 33%;
  overflow: hidden;
}
.descriptionCol{
  float: left;
  height: auto;
  width: 33%;
  padding-right: 10px;
  overflow: hidden;
}
.selected div{
  background-color: #dc8671;
}